body {
    background: url("../images/background.png") repeat;
}

label {
    font-weight: 100;
}
.form-bg {
    border: 1px solid gray;
    margin-top: 15%;
    background-color: rgb(188, 232, 173);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.76);
}

.form-title-bg {
    font: 20pt bubble;
    text-align: justify;
    margin-top: 5%;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-row {
    margin: 0;
    font: 20pt bubble;
}

.form-message {
    font: 12pt bubble;
    justify-content: center;
    color: crimson;
}

.header {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.nav-bar {
    padding: 0;
    background-color: rgba(199, 233, 237, 0.93);
    display: block;
    border-bottom: 1px solid gray;
}

.appName {
    float: left;
    padding: 15px;
    line-height: 20px;
    height: 50px;
    color: black;
    font: 16pt bubble;
}

.nav-button {
    float: right;
    margin: 5px 0 10px 15px;
}

.welcome {
    float: right;
    font: 20pt bubble;
    padding: 17px;
    margin: 0;
}

.contentIndex {
    box-sizing: border-box;
    width: 600px;
    margin: 0 auto;
    padding: 25px 15px 5px;
}

table {
    background-color: rgba(141, 237, 121, 0.9);
    border: 1px solid #93262f !important;
}

th {
    border: 1px solid #56505d !important;
    font: 15pt bubble;
    text-align: center;
}

td {
    border: 1px solid #734d42 !important;
    text-align: right;;
    font: 11pt bubble;
}

.results tr[visible='false'],
.no-result{
    display:none;
}

.results tr[visible='true']{
    display:table-row;
}