* {
    font-family:"Century Gothic", sans-serif;
    font-size:1em;
    color:#434343;
}

body {
    background:url(../images/background.png) repeat;
}

label {
    font-weight:100;
    display:initial;
}

.form-group {
    width:450px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.form-bg {
    display:block;
    position:relative;
    overflow:hidden;
    height:auto;
    width:600px;
    box-sizing:border-box;
    margin-bottom:auto;
    margin-top:5%;
    background:url(../images/form-background.png) repeat;
    -webkit-box-shadow:0 0 12px 0 rgba(150,180,210,.9);
    -moz-box-shadow:0 0 12px 0 rgba(150,180,210,.9);
    box-shadow:0 0 12px 0 rgba(150,180,210,.9);
}

.contactlist {
    font-weight:700;
    font-family:'Century Gothic', cursive;
    text-transform:uppercase;
    font-size:45px;
    letter-spacing:.25em;
    color:#1ABC9C;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color:#34495E;
    text-shadow:-1px 1px 0 #34495E, -2px 2px 0 #34495E, -3px 3px 0 #34495E, -4px 4px 0 #34495E, -5px 5px 0 #34495E, 7px 8px 0 rgba(0,0,0,0.1);
    margin:0 0 10px;
}

hr {
    margin-top:30px;
    margin-bottom:30px;
}

.form-row {
    font:15px bubble;
    margin:0;
}

.form-message {
    font:12pt bubble;
    justify-content:center;
    color:#DC143C;
}

.centeredpb {
    margin-top:2%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.header {
    top:0;
    right:0;
    left:0;
    position:fixed;
}

.nav-bar {
    display:block;
    border-bottom:1px solid gray;
    min-height:60px;
    padding:0;
}

.appName {
    font:bold 34px "Century Gothic", Georgia, Times, serif;
    color:#434343;
    letter-spacing:-2px;
    float:left;
    line-height:20px;
    height:50px;
    padding:20px;
}

.pageName {
    font:bold 40px "Century Gothic", Georgia, Times, serif;
    color:#434343;
    letter-spacing:-2px;
    line-height:20px;
    height:50px;
    margin-top:5%;
    padding:20px;
}

.nav-button {
    float:right;
    margin:8px 0 8px 15px;
}

.welcome {
    font:24px "Century Gothic", Georgia, Times, serif;
    color:#434343;
    line-height:90%;
    letter-spacing:-2px;
    float:right;
    margin:.2em 0 .4em;
    padding:17px;
}

table {
    background-color:rgba(141,237,121,0.9);
    border:1px solid #93262f!important;
    vertical-align:center;
}

.table td,.table th {
    vertical-align:middle;
}

th {
    border:1px solid #56505d!important;
    font:15pt bubble;
    text-align:center;
    font-family:"Century Gothic", sans-serif;
    font-size:1em;
    white-space:nowrap;
}

td {
    border:1px solid #734d42!important;
    text-align:center;
    font:11pt bubble;
    font-family:"Century Gothic", sans-serif;
    font-size:1em;
    white-space:nowrap;
}

.container {
    max-width:100%;
    padding-right:10%;
    padding-left:10%;
    margin-right:auto;
    margin-left:auto;
}